[Desktop Entry]
Version=1.0
Type=Link
Name=assets
Comment=
Icon=user-bookmarks
URL=https://github.com/felipeAguiarCode/angular-psn-store-clone/tree/main/src/assets
