.home__container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: flex;

    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    /* border: 1px solid rgb(209, 30, 60); só para visualizar o container */
}
